designs/services/Common.json
[
    {
        "id": "sd_JvSdJbOo4jcXn94e",
        "type": "tab",
        "createdDate": "2024-05-17T07:22:07.165Z",
        "label": "Common",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "Common",
        "relativeParentPath": ""
    },
    {
        "id": "sd_ICNt0OG5fw5WUhW5",
        "type": "Start",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "goBack",
        "category": "General",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "sd_DGw05dILlW4iCtsw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Common"
    },
    {
        "id": "sd_DGw05dILlW4iCtsw",
        "type": "UseDependency",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "bh",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "client",
        "functionName": "sd_DGw05dILlW4iCtsw",
        "category": "Function",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "sd_JBQGNtMZWWxBCwsR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Common",
        "generated": true
    },
    {
        "id": "sd_JBQGNtMZWWxBCwsR",
        "type": "Script",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.location.back();",
        "functionName": "sd_JBQGNtMZWWxBCwsR",
        "category": "Function",
        "x": 405,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Common",
        "generated": true
    },
    {
        "id": "sd_NjgqgwT0q4ApBjJZ",
        "type": "ServiceVariables",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "bh.input",
                    "value": "data"
                }
            }
        ],
        "functionName": "sd_NjgqgwT0q4ApBjJZ",
        "category": "Function",
        "x": 245,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Common",
        "generated": true
    },
    {
        "id": "sd_r23HTguCAPYbDfnt",
        "type": "Start",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "setVariable",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "setVariable",
        "category": "General",
        "x": 165,
        "y": 240,
        "wires": [
            [
                "sd_NjgqgwT0q4ApBjJZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Common"
    },
    {
        "id": "sd_tDoX4wm57TuTdmoh",
        "type": "Start",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "getVariable",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getVariable",
        "category": "General",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "sd_dmPATmPoFR3xocqB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Common"
    },
    {
        "id": "sd_dmPATmPoFR3xocqB",
        "type": "ServiceVariables",
        "z": "sd_JvSdJbOo4jcXn94e",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "data"
                }
            }
        ],
        "functionName": "sd_dmPATmPoFR3xocqB",
        "category": "Function",
        "x": 245,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Common",
        "generated": true
    }
]
