designs/pages/register.json
[
    {
        "id": "sd_tICxe7qPhqRvK1jx",
        "type": "tab",
        "createdDate": "2024-05-13T12:52:56.435Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_yWnnzHhLZWKu6ZG8",
        "type": "OnInit",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_yWnnzHhLZWKu6ZG8",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_CrCcre20qRV4tpPJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_ZzOvZ6UEt9Cuxr6f",
        "type": "PageVariables",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "stateGroups",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "filteredOptions",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "registerForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "result"
                }
            },
            {
                "textIp": "loader",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "uploadedFile1",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "uploadedFile2",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "idUploadResult",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "isValidatedUpload",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_ZzOvZ6UEt9Cuxr6f",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_Iu8ygKxUV790J4YD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_jm9PJvmykhcix8YS",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 25,
        "y": 560,
        "wires": [
            [
                "sd_eWumEgN06CVxqsEc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_tBTHLjmwz5Q0mftK",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdUrl + 'register' \npage.loader = true;\n",
        "functionName": "sd_tBTHLjmwz5Q0mftK",
        "category": "Function",
        "x": 665,
        "y": 580,
        "wires": [
            [
                "sd_8hnxYK0buXPRZf6Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_gQZAvvRMz5G5uysH",
        "type": "Environment",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_gQZAvvRMz5G5uysH",
        "category": "General",
        "x": 565,
        "y": 580,
        "wires": [
            [
                "sd_tBTHLjmwz5Q0mftK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_8hnxYK0buXPRZf6Z",
        "type": "HttpRequest",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.registerForm.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "registerForm.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_8hnxYK0buXPRZf6Z",
        "category": "HTTP",
        "x": 785,
        "y": 580,
        "wires": [
            [
                "sd_qCRXFjBkKQWQ7H1W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_CrCcre20qRV4tpPJ",
        "type": "UseDependency",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_CrCcre20qRV4tpPJ",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_ZzOvZ6UEt9Cuxr6f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Iu8ygKxUV790J4YD",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.stateGroups = [\n  { letter: 'A', names: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan'] },\n  { letter: 'B', names: ['Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi'] },\n  { letter: 'C', names: ['Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic'] },\n  { letter: 'D', names: ['Denmark', 'Djibouti', 'Dominica', 'Dominican Republic'] },\n  { letter: 'E', names: ['Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia'] },\n  { letter: 'F', names: ['Fiji', 'Finland', 'France'] },\n  { letter: 'G', names: ['Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana'] },\n  { letter: 'H', names: ['Haiti', 'Honduras', 'Hungary'] },\n  { letter: 'I', names: ['Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast'] },\n  { letter: 'J', names: ['Jamaica', 'Japan', 'Jordan'] },\n  { letter: 'K', names: ['Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan'] },\n  { letter: 'L', names: ['Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg'] },\n  { letter: 'M', names: ['Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar'] },\n  { letter: 'N', names: ['Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway'] },\n  { letter: 'O', names: ['Oman'] },\n  { letter: 'P', names: ['Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal'] },\n  { letter: 'Q', names: ['Qatar'] },\n  { letter: 'R', names: ['Romania', 'Russia', 'Rwanda'] },\n  { letter: 'S', names: ['Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria'] },\n  { letter: 'T', names: ['Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu'] },\n  { letter: 'U', names: ['Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan'] },\n  { letter: 'V', names: ['Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam'] },\n  { letter: 'Y', names: ['Yemen'] },\n  { letter: 'Z', names: ['Zambia', 'Zimbabwe'] }\n]\n\n\n\n\n\n\n\npage.registerForm = new FormGroup({\n  _id: new FormControl(new Date().getTime()),\n  createDate: new FormControl(new Date()),\n  title: new FormControl('',Validators.required),\n  name: new FormControl('',Validators.required),\n  surname: new FormControl('',Validators.required),\n  race: new FormControl('',Validators.required),\n  email: new FormControl('',[Validators.required,Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)]),\n  income: new FormControl('',Validators.required),\n  depedents: new FormControl('',Validators.required),\n  marital: new FormControl('',Validators.required),\n  qualification: new FormControl('',Validators.required),\n  country: new FormControl('',Validators.required),\n  address: new FormControl('',Validators.required),\n  sourceOfIncome: new FormControl('',Validators.required),\n  additionalIncome: new FormControl(false),\n  tax: new FormControl(false),\n  idDocument: new FormControl(''),\n  idFileName: new FormControl(''),\n  paySlipDocument: new FormControl(''),\n  paySlipFileName: new FormControl(''),\n  password: new FormControl('')\n});\n\n\n\n",
        "functionName": "sd_Iu8ygKxUV790J4YD",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_eWumEgN06CVxqsEc",
        "type": "PageSwitch",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "registerForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.registerForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_eWumEgN06CVxqsEc",
        "category": "Function",
        "x": 165,
        "y": 560,
        "wires": [
            [
                "sd_2461cxLecc33OmmS"
            ],
            [
                "sd_pMLNfYntoY1nXS2C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_pMLNfYntoY1nXS2C",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all the fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_pMLNfYntoY1nXS2C",
        "category": "General",
        "x": 305,
        "y": 640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_c75t1EgWOBHrdv1q",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 720,
        "wires": [
            [
                "sd_EpaoexcTgthHfxV2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_EpaoexcTgthHfxV2",
        "type": "PageCallService",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JvSdJbOo4jcXn94e",
            "type": "tab",
            "createdDate": "2024-05-17T07:22:07.165Z",
            "label": "Common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ICNt0OG5fw5WUhW5",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/Common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_EpaoexcTgthHfxV2",
        "category": "General",
        "x": 165,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_qCRXFjBkKQWQ7H1W",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registerForm.reset()\npage.showSpinner = false;\nif (page.result.message) {\n    bh.isApprovingApplication = false;\n} else {\n    bh.isApprovingApplication = true;\n}",
        "functionName": "sd_qCRXFjBkKQWQ7H1W",
        "category": "Function",
        "x": 885,
        "y": 580,
        "wires": [
            [
                "sd_38jNYaSATmsjQxjd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_b0wDVtLpQBWtosez",
        "type": "Navigation",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/regulations",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_b0wDVtLpQBWtosez",
        "category": "Navigation",
        "x": 1065,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_vyoBFVHNWiJCKrm9",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fileUpload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "docType",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUpload",
        "category": "General",
        "x": 45,
        "y": 340,
        "wires": [
            [
                "sd_bvzUcoWDbm3cBKQm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_bvzUcoWDbm3cBKQm",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const file: File | null = bh.input.event.target.files?.[0] || null\n// const fileElement = document.getElementById('uploadedFile1') as HTMLInputElement;\nconst filesTypeArr = ['pdf', 'docx', 'jpeg', 'jpg', 'webp', 'png'];\n//CURRENT\n\npage.isValidatedUpload = false;\n\nif (file) {\n  if (bh.input.docType === 'ID') {\n    page.registerForm.get('idFileName').setValue(file.name);\n    page.uploadedFile1 = new FormData()\n    page.uploadedFile1.append('file', file);\n    filesTypeArr.forEach((fileType) => {\n      if (fileType === file.name.split('.')[1]) {\n        page.idUploadResult = true;\n        page.isValidatedUpload = true;\n      }\n    })\n\n\n    //  page.result = {\n    //    file: page.uploadedFile1,\n    //    email: page.email\n    //  }\n    console.log(\"results\", page.idUploadResult)\n  }\n  if (bh.input.docType === 'POP') {\n    page.registerForm.get('paySlipFileName').setValue(file.name);\n    page.uploadedFile2 = new FormData()\n    page.uploadedFile2.append('file', file);\n    filesTypeArr.forEach((fileType) => {\n      if (fileType === file.name.split('.')[1]) {\n        page.popUploadResult = true;\n        page.isValidatedUpload = true;\n      }\n    })\n\n    console.log(\"page.uploadedFile2\", page.popUploadResult)\n  }\n  if (page.idUploadResult && page.popUploadResult) {\n    page.filesUploadResult = true;\n  }\n}\nelse {\n  console.log('No file is uploaded')\n  // Handle the case where no file is selected\n}",
        "functionName": "sd_bvzUcoWDbm3cBKQm",
        "category": "Function",
        "x": 125,
        "y": 340,
        "wires": [
            [
                "sd_avB5lBVVGBIfifqF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_4SG022CLgpG8eArD",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please upload the support file types (docx, pdf, image, png, jpeg, webp, jpg)"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4SG022CLgpG8eArD",
        "category": "General",
        "x": 345,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_avB5lBVVGBIfifqF",
        "type": "PageSwitch",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isValidatedUpload",
        "propertyType": "this.page",
        "propertyGv": "this.page.isValidatedUpload",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_avB5lBVVGBIfifqF",
        "category": "Function",
        "x": 205,
        "y": 340,
        "wires": [
            [],
            [
                "sd_4SG022CLgpG8eArD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_ElXOGun9OaMZvb2a",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please upload ID and Payslip"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ElXOGun9OaMZvb2a",
        "category": "General",
        "x": 365,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_2461cxLecc33OmmS",
        "type": "PageSwitch",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "File upload switch",
        "property": "filesUploadResult",
        "propertyType": "this.page",
        "propertyGv": "this.page.filesUploadResult",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "fileUploadSwitch",
        "category": "Function",
        "x": 265,
        "y": 460,
        "wires": [
            [
                "sd_8Dv0HBVOSfuZkhli"
            ],
            [
                "sd_ElXOGun9OaMZvb2a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_dhR5DPOD5a9k57cQ",
        "type": "Environment",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_dhR5DPOD5a9k57cQ",
        "category": "General",
        "x": 485,
        "y": 460,
        "wires": [
            [
                "sd_rDjEZ0e2bK4GQJSH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_u7CdvaantyUgpc8z",
        "type": "HttpRequest",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Upload ID",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile1"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "uploadId",
        "category": "HTTP",
        "x": 685,
        "y": 460,
        "wires": [
            [
                "sd_9o6PHfoPvF89JZrg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_EaxnrpzkzZGcYO9r",
        "type": "HttpRequest",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile2"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_EaxnrpzkzZGcYO9r",
        "category": "HTTP",
        "x": 885,
        "y": 460,
        "wires": [
            [
                "sd_5VSVE2W4jXtFApjh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_NF8r9zaxt8DfR1e6",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "validateNoDependents",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "validateNoDependents",
        "category": "General",
        "x": 65,
        "y": 200,
        "wires": [
            [
                "sd_8aHAOofNWCzh1etZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_8aHAOofNWCzh1etZ",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.registerForm.value.depedents < 0) {\n    page.registerForm.get('depedents').setValue(0);\n}",
        "functionName": "sd_8aHAOofNWCzh1etZ",
        "category": "Function",
        "x": 180,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_8Dv0HBVOSfuZkhli",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;",
        "functionName": "sd_8Dv0HBVOSfuZkhli",
        "category": "Function",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "sd_dhR5DPOD5a9k57cQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_38jNYaSATmsjQxjd",
        "type": "PageSwitch",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isApprovingApplication",
        "propertyType": "bh",
        "propertyGv": "bh.isApprovingApplication",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_38jNYaSATmsjQxjd",
        "category": "Function",
        "x": 985,
        "y": 580,
        "wires": [
            [
                "sd_b0wDVtLpQBWtosez"
            ],
            [
                "sd_BzPPiwY870EJu1Ld"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_BzPPiwY870EJu1Ld",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User account application already exists!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_BzPPiwY870EJu1Ld",
        "category": "General",
        "x": 1085,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_rDjEZ0e2bK4GQJSH",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdUrl + 'upload-file' \n// page.loader = true;\n",
        "functionName": "sd_rDjEZ0e2bK4GQJSH",
        "category": "Function",
        "x": 585,
        "y": 460,
        "wires": [
            [
                "sd_u7CdvaantyUgpc8z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_9o6PHfoPvF89JZrg",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registerForm.get('idDocument').setValue(page.result.filename);",
        "functionName": "sd_9o6PHfoPvF89JZrg",
        "category": "Function",
        "x": 785,
        "y": 460,
        "wires": [
            [
                "sd_EaxnrpzkzZGcYO9r"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_5VSVE2W4jXtFApjh",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registerForm.get('paySlipDocument').setValue(page.result.filename);",
        "functionName": "sd_5VSVE2W4jXtFApjh",
        "category": "Function",
        "x": 965,
        "y": 460,
        "wires": [
            [
                "sd_gQZAvvRMz5G5uysH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
