designs/pages/regulation.json
[
    {
        "id": "sd_eS3ZSLyNOHfsH56r",
        "type": "tab",
        "createdDate": "2024-05-22T09:13:22.312Z",
        "label": "regulation",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_nHD1aAS1VlNkamo4",
        "type": "OnInit",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_nHD1aAS1VlNkamo4",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_oTdZ5kAT09SXH4V7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_xROL0Y2fL8shU23C",
        "type": "PageVariables",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "regulation",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "imageData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "Signature",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "checkForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "bh",
                    "value": "result.email"
                }
            }
        ],
        "functionName": "sd_xROL0Y2fL8shU23C",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_4ysxRLck0ldIbEvh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_OvrEB4pafD6TtOXo",
        "type": "PageStart",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 105,
        "y": 160,
        "wires": [
            [
                "sd_a9oNpJZtVEuT3LUA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_RRaQEP3tCMNSlNQZ",
        "type": "Navigation",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/register",
        "functionName": "sd_RRaQEP3tCMNSlNQZ",
        "category": "Navigation",
        "x": 405,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_bUOnXMDTHtOaWVh2",
        "type": "PageStart",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "start",
        "name": "disagree",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "disagree",
        "category": "General",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "sd_lXyRgsA130Jn3aoY",
                "sd_U0Gk1hYeS4PzM6eh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_kmJ6eAkC89PMiJgV",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"initial ==>\", bh.result)\nbh.url = page.ssdURL + \"delete\"\n\nbh.body = {\n    email : page.email,\n    collection : \"users\"\n}\n\nsessionStorage.clear()",
        "functionName": "sd_kmJ6eAkC89PMiJgV",
        "category": "Function",
        "x": 305,
        "y": 340,
        "wires": [
            [
                "sd_xYBdmlJOZgZmyvwK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_lXyRgsA130Jn3aoY",
        "type": "Environment",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_lXyRgsA130Jn3aoY",
        "category": "General",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "sd_kmJ6eAkC89PMiJgV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_xYBdmlJOZgZmyvwK",
        "type": "HttpRequest",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "delete",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_xYBdmlJOZgZmyvwK",
        "category": "HTTP",
        "x": 385,
        "y": 340,
        "wires": [
            [
                "sd_ULtCQj0a7XSiLrUU",
                "sd_wfSh3qwCrvjMkFRg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_ULtCQj0a7XSiLrUU",
        "type": "Navigation",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/landing",
        "functionName": "sd_ULtCQj0a7XSiLrUU",
        "category": "Navigation",
        "x": 485,
        "y": 340,
        "wires": [
            [
                "sd_aTiBR7WSVw0JfRD9",
                "sd_d29JjT3BHsdxwFSx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_aTiBR7WSVw0JfRD9",
        "type": "SnackBar",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Registration cancelled"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_aTiBR7WSVw0JfRD9",
        "category": "General",
        "x": 565,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_4ysxRLck0ldIbEvh",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.checkForm = {\n    checkBox : ''\n}",
        "functionName": "sd_4ysxRLck0ldIbEvh",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_F6UKAVTh67Ara15T"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_TTGTz5bhDRy0z9wV",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.form)",
        "functionName": "sd_TTGTz5bhDRy0z9wV",
        "category": "Function",
        "x": 305,
        "y": 140,
        "wires": [
            [
                "sd_RRaQEP3tCMNSlNQZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_a9oNpJZtVEuT3LUA",
        "type": "PageSwitch",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.status",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.status",
        "rules": [
            {
                "t": "eq",
                "v": "VALID",
                "vt": "str",
                "gv": "\"VALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_a9oNpJZtVEuT3LUA",
        "category": "Function",
        "x": 205,
        "y": 200,
        "wires": [
            [
                "sd_TTGTz5bhDRy0z9wV"
            ],
            [
                "sd_fRCO5JdPJo23WCOy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_fRCO5JdPJo23WCOy",
        "type": "SnackBar",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Checkbox is not checked"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_fRCO5JdPJo23WCOy",
        "category": "General",
        "x": 305,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_F6UKAVTh67Ara15T",
        "type": "Log",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.result",
        "functionName": "sd_F6UKAVTh67Ara15T",
        "category": "General",
        "x": 360,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_wfSh3qwCrvjMkFRg",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"after API call ==>\", bh.result)\nconsole.log(\"after API call body ==>\", bh.body)\n\n",
        "functionName": "sd_wfSh3qwCrvjMkFRg",
        "category": "Function",
        "x": 460,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_d29JjT3BHsdxwFSx",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"after navigate ==>\", bh.result)\nconsole.log(\"after navigate body ==>\", bh.body)\n",
        "functionName": "sd_d29JjT3BHsdxwFSx",
        "category": "Function",
        "x": 585,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_U0Gk1hYeS4PzM6eh",
        "type": "Script",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"after button click ==>\", bh.result)\n",
        "functionName": "sd_U0Gk1hYeS4PzM6eh",
        "category": "Function",
        "x": 185,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_oTdZ5kAT09SXH4V7",
        "type": "PageCallService",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JvSdJbOo4jcXn94e",
            "type": "tab",
            "createdDate": "2024-05-17T07:22:07.165Z",
            "label": "Common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_tDoX4wm57TuTdmoh",
            "flowName": "getVariable"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "data",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/Common",
        "startName": "getVariable",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_oTdZ5kAT09SXH4V7",
        "category": "General",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_xROL0Y2fL8shU23C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    }
]
