designs/pages/verification.json
[
    {
        "id": "sd_77k2dJPQTXfSLBMc",
        "type": "tab",
        "createdDate": "2024-05-13T12:53:09.810Z",
        "label": "verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_1CIi3Gk3QFHFap3N",
        "type": "OnInit",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_1CIi3Gk3QFHFap3N",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_K00ER28O6vJJsUMB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_L7i3iZGVOZIdAMpx",
        "type": "PageVariables",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "verificationForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "result"
                }
            },
            {
                "textIp": "isInvalidId",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_L7i3iZGVOZIdAMpx",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_FrIJQ4NM15l3Z3Xp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_s4kWkbPkjpikfrhn",
        "type": "PageStart",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "verification",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "verification",
        "category": "General",
        "x": 45,
        "y": 380,
        "wires": [
            [
                "sd_OCxZ3qDfGXvoZVDk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_zUiYQYNk75jvOV56",
        "type": "Environment",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zUiYQYNk75jvOV56",
        "category": "General",
        "x": 345,
        "y": 400,
        "wires": [
            [
                "sd_4BPBswPMMDEJOWBi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_4BPBswPMMDEJOWBi",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdUrl + 'verification' \npage.showSpinner = true;",
        "functionName": "sd_4BPBswPMMDEJOWBi",
        "category": "Function",
        "x": 445,
        "y": 400,
        "wires": [
            [
                "sd_D1onDjTy0vXPQwqZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_D1onDjTy0vXPQwqZ",
        "type": "HttpRequest",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "verify",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.verificationForm.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "verificationForm.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "verify",
        "category": "HTTP",
        "x": 525,
        "y": 400,
        "wires": [
            [
                "sd_5LOcpmg28zZ5lQnz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_3EFJNXA4KS1Itfik",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isAddingAccount",
        "propertyType": "bh",
        "propertyGv": "bh.isAddingAccount",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_3EFJNXA4KS1Itfik",
        "category": "Function",
        "x": 685,
        "y": 400,
        "wires": [
            [
                "sd_XlEqKw1G5Nm5LWTd"
            ],
            [
                "sd_tbYpneKzV7YDbt5E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_Zj9irMRjFofwgYJ3",
        "type": "Navigation",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/register",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": {
            "type": "this.page",
            "value": "verificationForm.value"
        },
        "functionName": "sd_Zj9irMRjFofwgYJ3",
        "category": "Navigation",
        "x": 905,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vYxVeJqQDCgfF20a",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "verificationForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.verificationForm.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_vYxVeJqQDCgfF20a",
        "category": "Function",
        "x": 245,
        "y": 420,
        "wires": [
            [
                "sd_zUiYQYNk75jvOV56"
            ],
            [
                "sd_vF3oHlpAdQkzoAEn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vF3oHlpAdQkzoAEn",
        "type": "SnackBar",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vF3oHlpAdQkzoAEn",
        "category": "General",
        "x": 365,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_K00ER28O6vJJsUMB",
        "type": "UseDependency",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControls",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_K00ER28O6vJJsUMB",
        "category": "Function",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_L7i3iZGVOZIdAMpx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_FrIJQ4NM15l3Z3Xp",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.verificationForm = new FormGroup({\n  email: new FormControl('',Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)),\n  id: new FormControl('',Validators.required),\n})",
        "functionName": "sd_FrIJQ4NM15l3Z3Xp",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_pn9NVGiN50g7TP8l",
        "type": "PageStart",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "validateId",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "validateId",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_EplBO4hgPXNjmPWH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_l0LWkvq7TBNpWWz6",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (page.verificationForm.value.id.toString().length > 12) {\n    page.verificationForm.setValue({ id: page.verificationForm.value.id.toString().substr(0, 13), email: page.verificationForm.value.email });\n    let id = page.verificationForm.controls.id.value.toString();\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4, 6)\n    let gender = id.substring(6, 10)\n    let country = id.substring(10, 11)\n    let eight = id.substring(11, 12)\n\n    //year\n    if (Number(yeardigit) < 0) {\n        page.isInvalidId = true;\n        return\n    }\n\n    if (Number(yeardigit2) < 0) {\n        page.isInvalidId = true;\n        return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n        // valid\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n        // valid\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n        // console.log(\"Female\");\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n        // console.log(\"Male\");\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //country\n    if (Number(country) === 1) {\n        // console.log(\"citizen\");\n    } else if (Number(country) === 0) {\n        // console.log(\"South Africa\");\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //eight\n    if (Number(eight) === 8) {\n        // valid\n        // console.log('valid day')\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n    page.isInvalidId = false;\n}",
        "functionName": "sd_l0LWkvq7TBNpWWz6",
        "category": "Function",
        "x": 245,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_6usp9ft0r8uUROxq",
        "type": "SnackBar",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID number is invalid!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_6usp9ft0r8uUROxq",
        "category": "General",
        "x": 465,
        "y": 140,
        "wires": [
            [
                "sd_srWngYep4CrMTvRN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_srWngYep4CrMTvRN",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (page.verificationForm.value.id.toString().length > 12) {\n    page.verificationForm.setValue({ id: page.verificationForm.value.id.toString().substr(0, 13), email: page.verificationForm.value.email });\n    let id = page.verificationForm.controls.id.value.toString();\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4, 6)\n    let gender = id.substring(6, 10)\n    let country = id.substring(10, 11)\n    let eight = id.substring(11, 12)\n\n    //year\n    if (Number(yeardigit) < 0) {\n        page.isInvalidId = true;\n        return\n    }\n\n    if (Number(yeardigit2) < 0) {\n        page.isInvalidId = true;\n        return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n        // valid\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n        // valid\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n        // console.log(\"Female\");\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n        // console.log(\"Male\");\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //country\n    if (Number(country) === 1) {\n        // console.log(\"citizen\");\n    } else if (Number(country) === 0) {\n        // console.log(\"South Africa\");\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n\n    //eight\n    if (Number(eight) === 8) {\n        // valid\n        // console.log('valid day')\n    } else {\n        page.isInvalidId = true;\n        return\n    }\n    page.isInvalidId = false;\n}",
        "functionName": "sd_srWngYep4CrMTvRN",
        "category": "Function",
        "x": 545,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_OCxZ3qDfGXvoZVDk",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isInvalidId",
        "propertyType": "this.page",
        "propertyGv": "this.page.isInvalidId",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_OCxZ3qDfGXvoZVDk",
        "category": "Function",
        "x": 145,
        "y": 380,
        "wires": [
            [
                "sd_jPQoKkMqsQxEMdru"
            ],
            [
                "sd_vYxVeJqQDCgfF20a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_jPQoKkMqsQxEMdru",
        "type": "SnackBar",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ID number is invalid!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_jPQoKkMqsQxEMdru",
        "category": "General",
        "x": 245,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_4iLDY3FiLYNaGEKy",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.verificationForm.value.id.toString().length === 13){\n    page.isInvalidId = false;\n}\nif (page.verificationForm.value.id.toString().length > 12) {\n    bh.isReadyToValidate = true;\n} else {\n    bh.isReadyToValidate = false;\n}",
        "functionName": "sd_4iLDY3FiLYNaGEKy",
        "category": "Function",
        "x": 225,
        "y": 140,
        "wires": [
            [
                "sd_ChAIkvKc1d6wAH0g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ufybFzHd16LslRVW",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isReadyToValidate",
        "propertyType": "bh",
        "propertyGv": "bh.isReadyToValidate",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ufybFzHd16LslRVW",
        "category": "Function",
        "x": 385,
        "y": 140,
        "wires": [
            [
                "sd_6usp9ft0r8uUROxq"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_EplBO4hgPXNjmPWH",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isInvalidId",
        "propertyType": "this.page",
        "propertyGv": "this.page.isInvalidId",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_EplBO4hgPXNjmPWH",
        "category": "Function",
        "x": 145,
        "y": 180,
        "wires": [
            [
                "sd_4iLDY3FiLYNaGEKy"
            ],
            [
                "sd_l0LWkvq7TBNpWWz6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ChAIkvKc1d6wAH0g",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isInvalidId",
        "propertyType": "this.page",
        "propertyGv": "this.page.isInvalidId",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ChAIkvKc1d6wAH0g",
        "category": "Function",
        "x": 305,
        "y": 140,
        "wires": [
            [
                "sd_ufybFzHd16LslRVW"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_5LOcpmg28zZ5lQnz",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.result.message){\n    bh.isAddingAccount = true;\n} else {\n    bh.isAddingAccount = false;\n}\npage.showSpinner = false;",
        "functionName": "sd_5LOcpmg28zZ5lQnz",
        "category": "Function",
        "x": 605,
        "y": 400,
        "wires": [
            [
                "sd_3EFJNXA4KS1Itfik"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_tbYpneKzV7YDbt5E",
        "type": "SnackBar",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User account already exist"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_tbYpneKzV7YDbt5E",
        "category": "General",
        "x": 785,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_XlEqKw1G5Nm5LWTd",
        "type": "Storage",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "User"
        },
        "value": {
            "type": "this.page",
            "value": "verificationForm.value"
        },
        "resultMapping": {},
        "functionName": "sd_XlEqKw1G5Nm5LWTd",
        "category": "Storage",
        "x": 805,
        "y": 340,
        "wires": [
            [
                "sd_Zj9irMRjFofwgYJ3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_AUJBNjqB9XpRSI1a",
        "type": "PageStart",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "str",
                    "value": "KeyboardEvent"
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 65,
        "y": 620,
        "wires": [
            [
                "sd_ZLTRiRfktG6Nyikz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_ZLTRiRfktG6Nyikz",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_ZLTRiRfktG6Nyikz",
        "category": "Function",
        "x": 185,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    }
]
